<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable annotation based DI -->
    <context:annotation-config />
    <context:component-scan base-package="com.example" />

    <!-- ============================
         DATABASE
         ============================ -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/employee_db" />
        <property name="username" value="root" />
        <property name="password" value="Root@123" />
    </bean>

    <!-- ============================
         HIBERNATE SESSION FACTORY
         ============================ -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />

        <property name="mappingResources">
            <list>
                <value>com/example/model/Employee.hbm.xml</value>
                <value>com/example/model/Project.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!-- ============================
         TRANSACTION MANAGER
         ============================ -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven />


    <!-- ============================
         EMPLOYEE MODULE
         ============================ -->
    <bean id="employeeDAO" class="com.example.dao.EmployeeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="employeeService" class="com.example.service.EmployeeServiceImpl">
        <property name="dao" ref="employeeDAO" />
    </bean>

    <bean id="viewEmployeeAction" class="com.example.action.ViewEmployeeAction" scope="prototype">
        <property name="service" ref="employeeService" />
    </bean>

    <bean id="loginEmployeeAction" class="com.example.action.LoginEmployeeAction" scope="prototype">
        <property name="employeeService" ref="employeeService" />
    </bean>


    <!-- ============================
         PROJECT MODULE
         ============================ -->
    <bean id="projectDAO" class="com.example.dao.ProjectDAOImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="projectService" class="com.example.service.ProjectServiceImpl">
        <property name="dao" ref="projectDAO" />
    </bean>

    <bean id="updateEmployeeStatus" class="com.example.action.UpdateEmployeeStatusAction">
        <property name="employeeService" ref="employeeService" />
    </bean>


    <!-- ============================
         USER MODULE
         ============================ -->
    <bean id="userDAO" class="com.example.dao.UserDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="userService" class="com.example.service.UserServiceImpl">
        <property name="userDAO" ref="userDAO" />
    </bean>

    <bean id="loginAction" class="com.example.action.LoginAction">
        <property name="userService" ref="userService" />
    </bean>


    <!-- ======================================================
         DWR BEANS (Missing in your file — now added)
         ====================================================== -->
    <!-- ProjectDwr exposed for DWR -->
    <bean id="projectDwr" class="com.example.action.ProjectDwr">
        <property name="projectService" ref="projectService" />
    </bean>

    <!-- EmployeeDwr exposed for DWR -->
    <bean id="employeeDwr" class="com.example.action.EmployeeDwr">
        <property name="employeeService" ref="employeeService" />
    </bean>

</beans>
